In [2]:
import pandas as pd
import numpy as np
import os 
path  = os.getcwd()
print(path)

In [3]:
data = pd.read_csv(r'{0}/cars.csv'.format(path))

In [9]:
data.head()

,name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,Price,Dealer_Cost,Engine_size,cylenders,horsepower,city_miles_per_galloon,highway_miles_per_Gallon,weight,base_wheeel,length,width
0,Chevrolet Aveo 4dr,False,False,False,False,False,False,False,11690,10965,1.6,4,103,28.0,34.0,2370.0,98.0,167.0,66.0
1,Chevrolet Aveo LS 4dr hatch,False,False,False,False,False,False,False,12585,11802,1.6,4,103,28.0,34.0,2348.0,98.0,153.0,66.0
2,Chevrolet Cavalier 2dr,False,False,False,False,False,False,False,14610,13697,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
3,Chevrolet Cavalier 4dr,False,False,False,False,False,False,False,14810,13884,2.2,4,140,26.0,37.0,2676.0,104.0,183.0,68.0
4,Chevrolet Cavalier LS 2dr,False,False,False,False,False,False,False,16385,15357,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0

In [5]:
# 1.How many Rows are in the cars dataset
data.shape[0]

428

In [8]:
# 2.How many Columns are in the car dataset
len(data.columns)

19

In [13]:
# 3.How many unique numbers of cylinders we have in the car dataset
len(data['cylenders'].unique())

8

In [16]:
# 4.What is the average horsepower of cars
data['horsepower'].mean()

215.8855140186916

In [17]:
# 5.What is the maximum horsepower
data['horsepower'].max()

500

In [23]:
# 6.What is the most expensive car
data.loc[data['Price'].idxmax()]

name                        Porsche 911 GT2 2dr
sports_car                                 True
suv                                       False
wagon                                     False
minivan                                   False
pickup                                    False
all_wheel                                 False
rear_wheel                                 True
Price                                    192465
Dealer_Cost                              173560
Engine_size                                 3.6
cylenders                                     6
horsepower                                  477
city_miles_per_galloon                       17
highway_miles_per_Gallon                     24
weight                                     3131
base_wheeel                                  93
length                                      175
width                                        72
Name: 287, dtype: object

In [28]:
# 7.Change the name of the column "name" to "car name"
data.rename(columns={"name": "name car"}, inplace=True)
data.head()

,name car,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,Price,Dealer_Cost,Engine_size,cylenders,horsepower,city_miles_per_galloon,highway_miles_per_Gallon,weight,base_wheeel,length,width
0,Chevrolet Aveo 4dr,False,False,False,False,False,False,False,11690,10965,1.6,4,103,28.0,34.0,2370.0,98.0,167.0,66.0
1,Chevrolet Aveo LS 4dr hatch,False,False,False,False,False,False,False,12585,11802,1.6,4,103,28.0,34.0,2348.0,98.0,153.0,66.0
2,Chevrolet Cavalier 2dr,False,False,False,False,False,False,False,14610,13697,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
3,Chevrolet Cavalier 4dr,False,False,False,False,False,False,False,14810,13884,2.2,4,140,26.0,37.0,2676.0,104.0,183.0,68.0
4,Chevrolet Cavalier LS 2dr,False,False,False,False,False,False,False,16385,15357,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0

In [30]:
# 8.Make a subset of the data that has the car name, the price and name the new sub-setted data frame car pricing
car_pricing = data[['name car', 'Price']]

In [31]:
# 9.Create a function called pricing category that returns "Budget Car", if the cars are less than 20000 
# "Suitable Car" > 20000 and <= 35000, "Expensive car" > 35000
def pricing_category(pricing: int) -> str:
    if pricing <= 20000:
        return "Budget Car"
    elif pricing > 20000 and pricing <= 35000:
        return "Suitable Car"
    else:
        return "Expensive Car"

In [32]:
# 10. Create a column named category on the subset úing a for lôp and pricing category function
car_pricing['category'] = car_pricing['Price'].map(pricing_category)

<ipython-input-32-f988ec84cfd0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_pricing['category'] = car_pricing['Price'].map(pricing_category)

In [33]:
car_pricing

                            name car  Price      category
0                 Chevrolet Aveo 4dr  11690    Budget Car
1        Chevrolet Aveo LS 4dr hatch  12585    Budget Car
2             Chevrolet Cavalier 2dr  14610    Budget Car
3             Chevrolet Cavalier 4dr  14810    Budget Car
4          Chevrolet Cavalier LS 2dr  16385    Budget Car
..                               ...    ...           ...
423         Nissan Titan King Cab XE  26650  Suitable Car
424                      Subaru Baja  24520  Suitable Car
425                    Toyota Tacoma  12800    Budget Car
426     Toyota Tundra Regular Cab V6  16495    Budget Car
427  Toyota Tundra Access Cab V6 SR5  25935  Suitable Car

[428 rows x 3 columns]

In [38]:
# 10.Hơ many Budget car, suitable car, and ễpnsive car, we have
car_pricing['category'].value_counts()

Suitable Car     193
Expensive Car    137
Budget Car        98
Name: category, dtype: int64