In [1]:
import pandas as pd

In [40]:
import inventorize as inv 
import numpy as np 
import os 
path = os.getcwd()
print(path)

/Users/dang/Desktop/Learning/Mygit/datascience_supplychain_practice/Jupyternotebook_source/Section_17_inventory_simulation

In [4]:
skus = pd.read_csv("{0}/sku_distributions.csv".format(path))

In [5]:
skus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   day             333 non-null    int64
 1   grape_juice     333 non-null    int64
 2   cantalop_juice  333 non-null    int64
 3   apple_juice     333 non-null    int64
dtypes: int64(4)
memory usage: 10.5 KB

In [28]:
apple_juice= skus[['apple_juice']]

In [7]:
mean_apple = apple_juice.mean()

In [8]:
sd_apple = apple_juice.std()

In [9]:
leadtime = 7

In [36]:
apple_juice = np.array(apple_juice)

In [46]:
apple_sq=inv.sim_min_Q_normal(apple_juice, mean_apple, sd_apple, leadtime=7,
                     service_level=0.8, Quantity=100)

In [47]:
apple_sq

[     period  demand  sales  inventory_level  inventory_position  min  order  \
 1         1       0    0.0            750.0               750.0  750    0.0
 2         2      96   96.0            654.0               754.0  750  100.0
 3         3      92   92.0            562.0               662.0  750    0.0
 4         4      84   84.0            478.0               678.0  750  100.0
 5         5     113  113.0            365.0               665.0  750  100.0
 ..      ...     ...    ...              ...                 ...  ...    ...
 330     330      88   88.0             28.0               728.0  750  100.0
 331     331      77   77.0             51.0               751.0  750  100.0
 332     332      88   88.0             63.0               663.0  750    0.0
 333     333      85   85.0             78.0               678.0  750  100.0
 334     334      92   92.0             86.0               686.0  750  100.0

      recieved  lost_order
 1         0.0         0.0
 2         0.0         0.0
 3         0.0         0.0
 4         0.0         0.0
 5         0.0         0.0
 ..        ...         ...
 330     100.0         0.0
 331     100.0         0.0
 332     100.0         0.0
 333     100.0         0.0
 334     100.0         0.0

 [334 rows x 9 columns],
 {'shortage_cost': 0.0,
  'inventory_cost': 0.0,
  'average_inventory_level': 38.721556886227546,
  'ordering_cost': 0,
  'total_lost_sales': 1782.0,
  'Item_fill_rate': 0.9467328271656603,
  'cycle_service_level': 0.7417417417417418,
  'saftey_stock': apple_juice    45.025715
  dtype: float64}]

In [48]:
apple_sq[0].to_csv('Apple_sq.csv')

In [50]:
apple_sq1=inv.sim_min_Q_normal(apple_juice, mean_apple, sd_apple, leadtime=7,
                     service_level=0.8, Quantity=100,shortage_cost=1,ordering_cost=1,inventory_cost=1)

In [51]:
apple_sq1

[     period  demand  sales  inventory_level  inventory_position  min  order  \
 1         1       0    0.0            750.0               750.0  750    0.0
 2         2      96   96.0            654.0               754.0  750  100.0
 3         3      92   92.0            562.0               662.0  750    0.0
 4         4      84   84.0            478.0               678.0  750  100.0
 5         5     113  113.0            365.0               665.0  750  100.0
 ..      ...     ...    ...              ...                 ...  ...    ...
 330     330      88   88.0             28.0               728.0  750  100.0
 331     331      77   77.0             51.0               751.0  750  100.0
 332     332      88   88.0             63.0               663.0  750    0.0
 333     333      85   85.0             78.0               678.0  750  100.0
 334     334      92   92.0             86.0               686.0  750  100.0

      recieved  lost_order
 1         0.0         0.0
 2         0.0         0.0
 3         0.0         0.0
 4         0.0         0.0
 5         0.0         0.0
 ..        ...         ...
 330     100.0         0.0
 331     100.0         0.0
 332     100.0         0.0
 333     100.0         0.0
 334     100.0         0.0

 [334 rows x 9 columns],
 {'shortage_cost': 1782.0,
  'inventory_cost': 12933.0,
  'average_inventory_level': 38.721556886227546,
  'ordering_cost': 317,
  'total_lost_sales': 1782.0,
  'Item_fill_rate': 0.9467328271656603,
  'cycle_service_level': 0.7417417417417418,
  'saftey_stock': apple_juice    45.025715
  dtype: float64}]

In [52]:
apple_sq2=inv.sim_min_Q_normal(apple_juice, mean_apple, sd_apple, leadtime=7,
                     service_level=0.9, Quantity=300,shortage_cost=1,ordering_cost=1,inventory_cost=1)

In [53]:
apple_sq2

[     period  demand  sales  inventory_level  inventory_position  min  order  \
 1         1       0    0.0            774.0               774.0  774    0.0
 2         2      96   96.0            678.0               978.0  774  300.0
 3         3      92   92.0            586.0               886.0  774    0.0
 4         4      84   84.0            502.0               802.0  774    0.0
 5         5     113  113.0            389.0               689.0  774    0.0
 ..      ...     ...    ...              ...                 ...  ...    ...
 330     330      88   88.0             25.0               925.0  774  300.0
 331     331      77   77.0            248.0               848.0  774    0.0
 332     332      88   88.0            160.0               760.0  774    0.0
 333     333      85   85.0             75.0               975.0  774  300.0
 334     334      92   92.0            283.0               883.0  774    0.0

      recieved  lost_order
 1         0.0         0.0
 2         0.0         0.0
 3         0.0         0.0
 4         0.0         0.0
 5         0.0         0.0
 ..        ...         ...
 330       0.0         0.0
 331     300.0         0.0
 332       0.0         0.0
 333       0.0         0.0
 334     300.0         0.0

 [334 rows x 9 columns],
 {'shortage_cost': 1255.0,
  'inventory_cost': 49809.0,
  'average_inventory_level': 149.12874251497007,
  'ordering_cost': 108,
  'total_lost_sales': 1255.0,
  'Item_fill_rate': 0.9624858013989358,
  'cycle_service_level': 0.9159159159159159,
  'saftey_stock': apple_juice    68.561454
  dtype: float64}]

In [54]:
skus

     day  grape_juice  cantalop_juice  apple_juice
0      1            0              10           96
1      2            3              10           92
2      3            1               9           84
3      4            2              10          113
4      5            1              10           65
..   ...          ...             ...          ...
328  337            2              10           88
329  338            0              11           77
330  339            0              11           88
331  340            1              10           85
332  341            0              11           92

[333 rows x 4 columns]

In [55]:
grape_juice= inv.sim_min_max_pois(skus.grape_juice, lambda1=skus.grape_juice.mean(), 
                                  leadtime=7, service_level=0.8, Max= 30,
                                  shortage_cost=1,ordering_cost=1,inventory_cost=1)

In [56]:
grape_juice

[     period  demand  sales  inventory_level  inventory_position  min  order  \
 1         1       0    0.0             21.0                21.0   21    0.0
 2         2       0    0.0             21.0                30.0   21    9.0
 3         3       3    3.0             18.0                27.0   21    0.0
 4         4       1    1.0             17.0                26.0   21    0.0
 5         5       2    2.0             15.0                24.0   21    0.0
 ..      ...     ...    ...              ...                 ...  ...    ...
 330     330       2    2.0             21.0                21.0   21    0.0
 331     331       0    0.0             21.0                30.0   21    9.0
 332     332       0    0.0             21.0                30.0   21    0.0
 333     333       1    1.0             20.0                29.0   21    0.0
 334     334       0    0.0             20.0                29.0   21    0.0

      max  recieved  lost_order
 1     30       0.0         0.0
 2     30       0.0         0.0
 3     30       0.0         0.0
 4     30       0.0         0.0
 5     30       0.0         0.0
 ..   ...       ...         ...
 330   30      11.0         0.0
 331   30       0.0         0.0
 332   30       0.0         0.0
 333   30       0.0         0.0
 334   30       0.0         0.0

 [334 rows x 10 columns],
 {'shortage_cost': 7.0,
  'inventory_cost': 3603.0,
  'average_inventory_level': 10.7874251497006,
  'ordering_cost': 65,
  'total_lost_sales': 7.0,
  'Item_fill_rate': 0.989329268292683,
  'cycle_service_level': 0.993993993993994,
  'saftey_stock': 7.21021021021021}]

In [57]:
grape_juice[0].to_csv('grape_juice.csv')

In [58]:
cantalop_juice = skus[['cantalop_juice']]
cantalop=inv.Periodic_review_pois(cantalop_juice, lambda1= cantalop_juice.mean(),
                         leadtime=7, service_level=0.9, Review_period=3,ordering_cost=1,
                         inventory_cost=1,shortage_cost=1)

In [60]:
cantalop

[     period  demand  sales  inventory_level  inventory_position  order  max  \
 1         1       0    0.0            140.0               140.0    0.0  140
 2         2      10   10.0            130.0               130.0    0.0  140
 3         3      10   10.0            120.0               120.0    0.0  140
 4         4       9    9.0            111.0               131.0   20.0  140
 5         5      10   10.0            101.0               121.0    0.0  140
 ..      ...     ...    ...              ...                 ...    ...  ...
 330     330      10   10.0             55.0               110.0    0.0  140
 331     331      11   11.0             44.0               129.0   30.0  140
 332     332      11   11.0             62.0               118.0    0.0  140
 333     333      10   10.0             52.0               108.0    0.0  140
 334     334      11   11.0             41.0               129.0   32.0  140

      recieved  lost_order
 1         0.0         0.0
 2         0.0         0.0
 3         0.0         0.0
 4         0.0         0.0
 5         0.0         0.0
 ..        ...         ...
 330       0.0         0.0
 331       0.0         0.0
 332      29.0         0.0
 333       0.0         0.0
 334       0.0         0.0

 [334 rows x 9 columns],
 {'shortage_cost': 0.0,
  'inventory_cost': 17907.0,
  'average_inventory_level': 53.61377245508982,
  'ordering_cost': 111,
  'total_lost_sales': 0.0,
  'Item_fill_rate': 1.0,
  'cycle_service_level': 1.0,
  'saftey_stock': cantalop_juice    71.744745
  dtype: float64}]

In [61]:
cantalop_hybrid= inv.Hibrid_pois(cantalop_juice, lambda1= cantalop_juice.mean(),leadtime=7,
 service_level=0.9, Review_period=3,
                         inventory_cost=1,shortage_cost=1,Min=120, ordering_cost=1
                         )

In [63]:
cantalop_hybrid[0].to_csv('cantalop_hybrid.csv')

In [64]:
### base policy

In [65]:
apple_sq = inv.sim_min_Q_normal(
    apple_juice,
    mean_apple,
    sd_apple,
    leadtime,
    service_level=0.8,
    Quantity=400,
    shortage_cost=1,
    ordering_cost=1,
    inventory_cost=1
)

In [66]:
apple_sq

[     period  demand  sales  inventory_level  inventory_position  min  order  \
 1         1       0    0.0            750.0               750.0  750    0.0
 2         2      96   96.0            654.0              1054.0  750  400.0
 3         3      92   92.0            562.0               962.0  750    0.0
 4         4      84   84.0            478.0               878.0  750    0.0
 5         5     113  113.0            365.0               765.0  750    0.0
 ..      ...     ...    ...              ...                 ...  ...    ...
 330     330      88   88.0            125.0               925.0  750    0.0
 331     331      77   77.0             48.0               848.0  750    0.0
 332     332      88   88.0            360.0               760.0  750    0.0
 333     333      85   85.0            275.0               675.0  750    0.0
 334     334      92   92.0            183.0               983.0  750  400.0

      recieved  lost_order
 1         0.0         0.0
 2         0.0         0.0
 3         0.0         0.0
 4         0.0         0.0
 5         0.0         0.0
 ..        ...         ...
 330       0.0         0.0
 331       0.0         0.0
 332     400.0         0.0
 333       0.0         0.0
 334       0.0         0.0

 [334 rows x 9 columns],
 {'shortage_cost': 1379.0,
  'inventory_cost': 59428.0,
  'average_inventory_level': 177.92814371257484,
  'ordering_cost': 81,
  'total_lost_sales': 1379.0,
  'Item_fill_rate': 0.9587792192264004,
  'cycle_service_level': 0.8918918918918919,
  'saftey_stock': apple_juice    45.025715
  dtype: float64}]