In [6]:
import inventorize3 as inv 
import pandas as pd
import numpy as np

In [2]:
d = 4000
c = 2500
s = 6000
h = 0.1

In [4]:
eoq = pd.DataFrame(inv.eoq(d,s,c,h), index=[0])

In [5]:
eoq

          EOQ   T_years   T_weeks
0  438.178046  0.109545  5.696315

In [9]:
print(np.sqrt(2*(d*s)/(c*h)))

438.1780460041329

In [10]:
eoq1 = eoq.loc[0, 'EOQ']

In [11]:
### d/q * s + q/2 * (h*p) + D *p

In [14]:
TLC = (d/eoq1) * s + (eoq1/2) * (h*c) + c*d

In [15]:
TLC

10109544.511501033

In [17]:
inv.TQpractical(d, s, c, h)

{'Ts': 0.10954451150103323,
 'Tstarweeks': 5.6963145980537275,
 'Qstar': 438.1780460041329,
 'Tpractical': 4,
 'Tpracticalweeks': 4,
 'Qpractical': 307.69230769230774}

In [18]:
### at 10% discount

In [19]:
TLC1 = (d/500) * s + (500/2)*(h*c*0.9) + c*0.9*d

In [21]:
TLC1

9104250.0

In [29]:
### welcome . the lead time it takes for the orders to arrive is one month, what will be the
#reorder-point:

In [22]:
t = eoq1/d

In [23]:
t

0.10954451150103323

In [24]:
L = 1/12

In [25]:
L <t

True

In [26]:
reorder_point = L * d

In [27]:
reorder_point

333.3333333333333

In [28]:
# Whenever our invenotry level /Inventory position , we order Q and Q in this case is 438


### welcome . the lead time it takes for the orders to arrive is two month, what will be the
#reorder-point:

In [30]:
    
L2=2/12
L2<t

l_prime= L2- (1* (eoq1/d))


reorder_point= l_prime *d

In [31]:
l_prime

0.05712215516563343

In [32]:
reorder_point

228.48862066253372