In [1]:
import numpy as np
import inventorize as inv
import pandas as pd
import os
path = os.getcwd()
print(path)

/Users/dang/Desktop/Learning/Mygit/datascience_supplychain_practice/Jupyternotebook_source/Section_21_multi_product_optimization

In [2]:
multi_choice = pd.read_csv("{0}/multi_slides.csv".format(path))

In [3]:
choices = inv.Multi_Competing_optimization(
    multi_choice.iloc[:4000,0:4],
    multi_choice.loc[:4000, 'choice'],
    4,
    [40,60,70,100]
)

/Users/dang/Desktop/Learning/Mygit/datascience_supplychain_practice/env/lib/python3.7/site-packages/inventorize/__init__.py:821: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['dummy'][i]= offset_func(variables,data,i,y[i])

In [4]:
multi_choice.iloc[:4000,0:4]

       product1  product2    product3  product4
0     60.000000     100.0  109.230769     130.0
1     60.000000     100.0  106.444444     130.0
2     60.000000     100.0  104.285714     130.0
3     65.000000     110.0  118.360656     140.0
4     60.000000     100.0  110.000000     130.0
...         ...       ...         ...       ...
3995  60.000000     100.0  106.428571     130.0
3996  60.000000     100.0  100.000000     130.0
3997  60.000000     100.0  106.250000     130.0
3998  64.935897     110.0  113.750000     140.0
3999  65.000000     110.0  116.956522     140.0

[4000 rows x 4 columns]

In [5]:
multi_choice.loc[:4000, 'choice']

0       2
1       2
2       4
3       3
4       1
       ..
3996    1
3997    3
3998    1
3999    3
4000    2
Name: choice, Length: 4001, dtype: int64

In [6]:
choices_without_cost = inv.Multi_Competing_optimization(
    multi_choice.iloc[:4000,0:4],
    multi_choice.loc[:4000, 'choice'],
    4,
    [0,0,0,0]
)

/Users/dang/Desktop/Learning/Mygit/datascience_supplychain_practice/env/lib/python3.7/site-packages/inventorize/__init__.py:821: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['dummy'][i]= offset_func(variables,data,i,y[i])

In [7]:
choices

  Product_name  utitliy_of_product  scipy.optimized_prices  cost
0     product1           83.928859               90.945762    40
1     product2          125.186490              121.090569    60
2     product3          127.483287              131.930778    70
3     product4          153.751600              165.474478   100

In [8]:
choices_without_cost

NameError: name 'choices_without_cost' is not defined